/* GLOBAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #20243f;
  padding-top: 50px;
  font-weight: 500;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: rgba(26, 209, 215, 0.733);
}

span,
img,
button {
  display: inline-block;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1000px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */

.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #394166;
  border-radius: 10px;
  margin-bottom: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 30px;
}

.nav__link {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
}

.nav__img {
  width: 20px;
  margin-right: 10px;
}

.about {
  display: flex;
  align-items: center;
}

.about__me {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: 5px;
}

.down__img {
  width: 20px;
  margin-left: 5px;
}

.about__img {
  width: 50px;
  border-radius: 50%;
}

/* CARD SECTION */

.cards-wrapper {
  display: flex;
  gap: 20px;
}

.static-card {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 33.33%;
}

.user-card {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 33.33%;
}

.social-card {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 33.33%;
}

.card {
  background-color: #394166;
  min-height: 80px;
  border-radius: 10px;
}

.menu-box-btn {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: unset;
  background-color: #02a7ad;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-box-btn:hover {
  background-color: rgba(26, 209, 215, 0.733);
}

.msg {
  padding: 18px 15px;
  border-bottom: 1px solid #20243f;
  display: flex;
  align-items: center;
}

.msg-img {
  width: 25px;
  margin-right: 13px;
}

.msg-text {
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: auto;
  font-size: 15px;
}

.msg-count {
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background-color: #4f547a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.card-stat {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-title {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.stat {
  font-weight: 500;
  width: 200px;
  height: 200px;
  border: 40px solid #02a7ad;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-month {
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
}
.stat-year {
  text-transform: uppercase;
  color: #6970a6;
  font-size: 25px;
}

.card-user-info {
  color: #fff;
}

.plus-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.plus {
  color: #6970a6;
  border: 2px solid #6970a6;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.card-user-img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.user-name {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.user-text {
  text-align: center;
  font-size: 15px;
  line-height: 1;
  color: #8d8d8d;
  font-weight: 400;
}

.user-btns-wrapper {
  display: flex;
}

.user-info-btn {
  flex-grow: 1;
  background-color: transparent;
  border: unset;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-btn:nth-child(2) {
  border-right: 1px solid #20243f;
  border-left: 1px solid #20243f;
  border-top: 3px solid #02a7ad;
}
.user-info-btn:nth-child(1) {
  border-top: 3px solid #f0f008e5;
}
.user-info-btn:nth-child(3) {
  border-top: 3px solid #ec0909;
}

.user-info-btn-img {
  width: 25px;
  margin-right: 10px;
}

.user-info-btn-info {
  color: #fff;
  font-weight: 500;
}

.geo-place {
  background-color: #ce3049;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.geo-loc-img {
  margin-right: 10px;
}

.geo-name {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.geo-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e94963;
}

.geo-info-f {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  margin-right: 15px;
}

.date {
  font-size: 15px;
}

.farangeyt {
  font-size: 80px;
}

.f-sup {
  font-size: 40px;
  margin-left: -20px;
  font-weight: 800;
}

.geo-img {
  width: 100px;
}

.cars-sub {
    padding: 30px 15px;
    text-align: center;
}

.sub-title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.sub-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #50587D;
    padding: 10px 5px;
    border-radius: 10px;
}

.sub-img {
    width: 25px;
    margin-right: 10px;
}

.sub-input {
    background: transparent;
    border: unset;
    outline: unset;
    color: #fff;
    font-size: 12px;
}

.sub-input::placeholder {
    color: #fff;
}

.sub-btn {
    width: 70%;
    padding: 13px 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background-color: #02a7ad;
    color: #fff;
    border: unset;
    border-radius: 10px;
}
